<script type="text/javascript">
function reply_click(node)
{
    alert("i am clicked" + node );
     nodes = document.getElementById(node).querySelectorAll('.editable')
     nodes[0].setAttribute('contentEditable', 'true')
}
</script>

<% commentable.comments.each do |comment| %>
<!--<div class="comment">-->
<div id="<%=comment.id%>">
  <strong>Commenter:</strong>
  <!--<p class="editable" src="<%#= article_comment_url(commentable,comment) %>" property="comment[commenter]">-->
  <p>
      <%= comment.commenter %>
  </p>

  <strong>Comment:</strong>
  
  <p  class="editable"   src="<%= article_comment_url(commentable,comment) %>" property="comment[body]">
    <%= comment.body.html_safe %>
  </p>  
  
</div> 
<p>
    <%#= link_to 'Edit', [:edit, commentable, comment], data: { confirm: 'Are you sure?' } %>
    <!--<h1><%#= current_admin.user_name + " " + comment.commenter %></h1>-->
    <% if current_admin.user_name == comment.commenter  %>
        <%= link_to "Delete", [commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
        <input type="button" onclick="enableEditing('<%=comment.id%>')" value="Edit Comment"></input>
    <% end %>
    <!--<input type="button" onclick="enableEditing('#comment[comment-id="<%#= comment.id%>"]')" value="Edit Comment"></input>-->
<%end%> 
</p>


  