<% comments = commentable.comments.build %>
<%= form_with(model: [commentable, comments],local: true) do |form| %>
<div>
  <% if comments.errors.any? %>
      <div id="error_explanation">
        <h2>
    <%= pluralize(comments.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
          <% comments.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>
  <p>
    <%= form.label :body %><br>    
    <%= form.text_area :body ,id: "text_area_content" %>
  </p>
  <p>
    <%= form.submit 'data-behavior': "page_show_comment" %>
  </p>
<% end %>