<h1>Listing articles</h1>
<%= link_to 'New Article', controller: 'articles', action: 'new'%>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %></td>
      <!--<td><%#= article.text.html_safe %></td>-->
      <td><%#= link_to 'edit', edit_article_path(article) %></td>
      <% if Article.find_by(admin_id: article.admin_id).admin== current_admin %>
        <td><%= link_to 'Delete', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      <%end%>  
      <td>
        published by <%= Article.find_by(admin_id: article.admin_id).admin.user_name if current_admin %>
        <!--.strftime("%Y-%m-%d %H:%M:%S")-->
        at <%= Article.find_by(id: article.id).created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "Go Back 2 Main Page", root_path() %>
